.sectionContact{
    padding: 50px 0;
   background-color: #2AB078;
  }

 .container h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Inria', serif;
    color: #fff;
    margin-bottom: 20px;
    font-style: normal;
  }
  
   .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    border-radius: 70px;
    background-color: rgba(121, 191, 180, 0.6);
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
  }
  
   .form input {
    width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 1rem;
  }
  .form textarea{
    width: 80%;
    height: 150px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 1rem;
  }
 .form button {
    background-color: rgba(121, 191, 180, 0.6);
    color: #fff;
    padding: 15px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: lighter;
    transition: background 0.3s ease;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  
 .form button:hover {
    background: rgba(130, 234, 178, 0.466);;
  }
  
  .contact-details {
    margin-top: 30px;
    text-align: center;
  }
  
.contact-details p {
    margin: 10px 0;
  }
  
  .contact-details a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
.contact-details a:hover {
    color: #ddd;
  }